
<form class="createPost" action="/create_post" method="post">

  <select class="select_user" name="users_id">
    <option>Select User Name</option>
    {{#each list}}
      <option value="{{this.user_id}}">{{this.name}}</option>
    {{/each}}
  </select>
  <input type="text" name="title" placeholder="Post Title">
  <input type="text" name="image_url" placeholder="html image link">
  <textarea name="article" rows="8" cols="40"></textarea>
  <button type="submit">post</button>
</form>
