
<form class="createPost" action="/create_post" method="post">

  <select class="select_user" name="select_user">
    <option>Select User Name</option>
    {{#each list}}
      <option value="{{this.name}}">{{this.name}}</option>
    {{/each}}
  </select>
  <input type="text" name="title" placeholder="Post Title">
  <input type="text" name="image" placeholder="html image link">
  <textarea name="postContent" rows="8" cols="40"></textarea>
  <button type="submit">post</button>
</form>
