

{{#each list}}
  <div class="postcontainer">
    <h2>{{this.title}}</h2>
    <img class="postImage" src='{{this.image_url}}' alt="image for {{this.title}}"/>
    <p>
      {{this.article}}
    </p>
    <a href="/delete">delete this post</a>
  </div>
{{/each}}
