

{{#each list}}
  <div class="postcontainer">
    <h2>{{this.title}}</h2>
    <!-- <img src='{{this.image}}' alt="image for {{this.title}}"/>
    <p>
      {{this.description}}
    </p>
    <a href="/delete">delete this post</a> -->
  </div>
{{/each}}
