<!DOCTYPE html>
<html>
  <head>
    <title>the Wall</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
        <div class="navBar">
          <a href="/">home</a>
          <a href="/create_post">create post</a>
          <a href="/new_user">new user</a>
        </div>
        <h1>Wall</h1>
        <p>Welcome to The Wall</p>
    </header>
    <main>
        {{{body}}}
    </main>
  </body>
</html>
