

  <form class="createUser" action="/new_user" method="post">
    <input type="text" name="title" placeholder="User Name">
    <input type="email" name="email" placeholder="email">
    <button type="submit">submit</button>
  </form>
