body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url('../images/wall.jpeg');
}

header {
  background-color: #1A3652;
  color: white;
}

a {
  color: #00B7FF;
}

.createUser {
  display: flex;
  flex-direction: column;
  max-width: 300px;
}

.createUser input {
    margin: 10px;
    border: solid 1px black;
    border-radius: 3px;
    line-height: 1.5;
}

.createUser button {
  margin: 10px;
  color: white;
  background-color: blue;
  border-radius: 5px;
}

.createUser button:hover {
  cursor: pointer;
}

.createPost {
  display: flex;
  flex-direction: column;
  max-width: 300px;
}

.createPost input, .createPost textarea {
  margin: 10px;
  border: solid 1px black;
  border-radius: 3px;
  line-height: 1.5;
}

.createPost button {
  margin: 10px;
  color: white;
  background-color: blue;
  border-radius: 5px;
}

.createPost button:hover {
  cursor: pointer;
}

.postcontainer {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
}
article {
  width: 310px;
  margin: 10px;
  background-color: #F7DDC3;
  border: solid black 2px;
  border-radius: 10px;

}

.postImage {
  display: block;
  height: 200px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}
